<style>
  .btn:focus {
    outline: none !important;
  }
</style>
<script src="/javascripts/darkreader.min.js"></script>
<script>
  console.log(window.location.href);
  if (
    window.location.href.split("?logged-in") &&
    window.location.href.split("?logged-in").length > 1
  ) {
    show_notification("Welcome to Openfuel");
    window.history.pushState(null, null, window.location.pathname);
  }
  const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const isLightMode = window.matchMedia("(prefers-color-scheme: light)")
    .matches;
  const isNotSpecified = window.matchMedia(
    "(prefers-color-scheme: no-preference)"
  ).matches;
  const hasNoSupport = !isDarkMode && !isLightMode && !isNotSpecified;

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addListener(e => e.matches && toggleNight(true));
  window
    .matchMedia("(prefers-color-scheme: light)")
    .addListener(e => e.matches && toggleNight(false));

  if (isDarkMode) toggleNight(true);
  if (isLightMode && !localStorage.nightMode) toggleNight(false);
  if (
    ((isNotSpecified || hasNoSupport) && !localStorage.nightMode) ||
    (isLightMode && localStorage.nightMode) ||
    localStorage.nightMode == "off"
  ) {
    console.log(
      "You specified no preference for a color scheme or your browser does not support it. I Schedule dark mode during night time."
    );
    now = new Date();
    hour = now.getHours();
    if (localStorage.nightMode == "on") toggleNight(true);
  }
  $("#darkmode").on("click", toggleNight);
  function toggleNight(force = undefined) {
    force =
      force == undefined || typeof force == "object"
        ? localStorage.nightMode != "on"
        : force;
    console.log("FORCE: " + force);
    console.log(localStorage.nightMode);
    if (force == false || force != true) {
      console.log("Disable");
      DarkReader.disable();
      localStorage.nightMode = "off";
    } else {
      console.log("Enable");
      DarkReader.enable();
      localStorage.nightMode = "on";
    }
  }
</script>
<footer id="footer">
    <div class="inner">
      <section class="about">
        <h4 class="major">Openfuel</h4>
        <img src="/images/logo/logo.png" height="100px">
        <p>
          Openfuel is a registered <strong>'Not for Profit'</strong> working in the field of Innovation. 
          <strong><a href="https://github.com/dan-divy/spruce"><span class="icon">Platform technology powered by Spruce.</span></a></strong>
        </p> 
        <ul class="actions">
          <li><h2>
            <a href="https://facebook.com/openfuel.org"><span class="icon brands fa-facebook-f">&nbsp;</span></a>
            <a href="https://github.com/openfuel.org"><span class="icon brands fa-github">&nbsp;</span></a>
        </h2></li>
        </ul>
      </section>
      <section class="contact-info">
        <h4 class="major">Get in Touch</h4>
        <ul class="contact">
          <li class="icon solid fa-phone">+91 91042 88617</li>
          <li class="icon solid fa-envelope"><a href="#">team@openfuel.org</a></li>
          <li >
          </li>
        </ul>
        <ul class="contact">
          <li class="icon solid fa-home">
            Openfuel Knowledge Foundation<br />204, Harmony Icon<br />Thaltej<br />Ahmedabad, GJ 380058<br />India
          </li>
        </ul>
      </section>
    </div>
    <div class="copyright">
        <script> document.write(new Date().getFullYear()); </script>
          Copyright <a href="https://openfuel.org"> Openfuel</a>
    </div>
  </footer>


  

