<style>
  .btn:focus {
    outline: none !important;
  }
</style>
<script src="https://unpkg.com/darkreader"></script>
<script>
  const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const isLightMode = window.matchMedia("(prefers-color-scheme: light)")
    .matches;
  const isNotSpecified = window.matchMedia(
    "(prefers-color-scheme: no-preference)"
  ).matches;
  const hasNoSupport = !isDarkMode && !isLightMode && !isNotSpecified;

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addListener(e => e.matches && toggleNight(true));
  window
    .matchMedia("(prefers-color-scheme: light)")
    .addListener(e => e.matches && toggleNight(false));

  if (isDarkMode) toggleNight(true);
  if (isLightMode && !localStorage.nightMode) toggleNight(false);
  if (
    isNotSpecified ||
    hasNoSupport ||
    (isLightMode && localStorage.nightMode)
  ) {
    console.log(
      "You specified no preference for a color scheme or your browser does not support it. I Schedule dark mode during night time."
    );
    now = new Date();
    hour = now.getHours();
    if (localStorage.nightMode == "on") toggleNight(false);
  }
  $("#darkmode").on("click", toggleNight);
  function toggleNight(force = undefined) {
    force =
      force == undefined || typeof force == "object"
        ? localStorage.nightMode != "on"
        : force;
    console.log("FORCE: " + force);
    console.log(localStorage.nightMode);
    if (force == false || force != true) {
      console.log("Disable");
      DarkReader.disable();
      localStorage.nightMode = "off";
    } else {
      console.log("Enable");
      DarkReader.enable();
      localStorage.nightMode = "on";
    }
  }
</script>
<footer
  class="page-footer font-small pt-4 bg-white container"
  style="margin-bottom:5%; color: #f0b917!important"
>
  <div class="container-fluid text-center text-md-left">
    <hr class="clearfix w-100 d-md-none pb-3" />
    <div class="row" style="margin-top:2%">
      <div class="col-md-6 mt-md-0 mt-3 mr-0">
        <img src="/images/logo/logo.png" height="100px" />
        <h2 class="text-bold"><a href="/">openfuel</a></h2>
        <p>
          Powered by <a href="https://github.com/dan-divy/spruce">spruce</a>
        </p>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/openfuel">Github Org</a>
          </li>
          <li>
            <a href="https://github.com/openfuel/openfuel">Github Repo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="footer-copyright text-center py-3">
    ©
    <script>
      document.write(new Date().getFullYear());
    </script>
    Copyright
    <a href="https://openfuel.org"> OpenFuel</a>
  </div>
</footer>
