<footer
  class="page-footer font-small pt-4 bg-white container"
  style="margin-bottom:5%; color: #f0b917!important"
>
  <div class="container-fluid text-center text-md-left">
    <hr class="clearfix w-100 d-md-none pb-3" />
    <div class="row" style="margin-top:2%">
      <div class="col-md-6 mt-md-0 mt-3 mr-0">
        <img src="/images/logo/logo.png" height="100px" />
        <h2 class="text-bold"><a href="/">openfuel</a></h2>
        <p>
          Powered by <a href="https://github.com/dan-divy/spruce">spruce</a>
        </p>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div class="footer-copyright text-center py-3">
    ©
    <script>
      document.write(new Date().getFullYear());
    </script>
    Copyright
    <a href="https://openfuel.org"> OpenFuel</a>
  </div>
</footer>
