<!DOCTYPE html>
<html>
  <%- include('head') -%>

  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css" />

  <link
    type="text/css"
    rel="stylesheet"
    media="screen"
    href="/animations/jquery-sakura.min.css"
  />
  <link rel="stylesheet" type="text/css" href="stylesheets/ns-default.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="stylesheets/ns-style-other.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="stylesheets/progressive-image.css"
  />
  <script src="javascripts/modernizr.custom.js"></script>
  <script src="javascripts/progressive-image.js"></script>
  <body>
    <div id="particles-js"></div>
    <%- include('navbar') -%>
    <div id="mainPage">
      <div class="container">
        <header class="masthead text-center text-white">
          <div
            class="container d-flex align-items-center flex-column"
            style="padding: 10%; padding-top:10%;"
          >
            <div class="row m-5">
              <img src="/images/logo/logo.png" width="200">
              <h1 style="font-size: 3.6em;" class="masthead-heading text-uppercase mb-0 one-day">
                OpenFuel
              </h1>
              <h5 class="masthead-subheading font-weight-light mb-0">
                A platform to connect opensource contributors to organizations &
                startups willing to adopt opensource software.
              </h5>
              <% if(!user) { %>
              <a
                class="btn btn-primary"
                style="z-index:999; position:sticky"
                href="/account/github"
                ><i class="fab fa-github"></i> Login with Github</a
              >
              <% } %>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="container wave" style="width:100%!important">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#155263"
          fill-opacity="1"
          d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,250.7C672,277,768,267,864,224C960,181,1056,107,1152,101.3C1248,96,1344,160,1392,192L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
          style="--darkreader-inline-fill:#2a6171;"
          data-darkreader-inline-fill=""
        ></path>
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
        <path
          fill="#ffb400"
          fill-opacity="1"
          d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,250.7C672,277,768,267,864,224C960,181,1056,107,1152,101.3C1248,96,1344,160,1392,192L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
          style="--darkreader-inline-fill:yellow;"
          data-darkreader-inline-fill=""
        ></path>
         </svg>
        </svg>
      <section class="text-center bg-white" style="margin:10%; ">
        <div class="row">
            <div class="col-md-4 mt-2">
                <img
                  style="border-radius: 50%; height: 100%; width:100%"
                  src="/images/front-first" alt="first image for hackathon"
                />
              </div>
          <div class="col-md-8 mt-3">
            <h2
              class="h1-responsive font-weight-bold my-5 one-day"
            >
              The OpenSource Awards India 2019
            </h2>
            <p class="lead grey-text w-responsive mx-auto mb-5">
              In 2019, we're organizing the first OpenSource Awards in India to
              recognize open source contributors and create more visibility for
              OpenSource Heroes. Here is some more text that will need to be
              filled in because I don't know much about what is going to
              happen.<br /><br />
              Where: India (More detail)<br />
              When: 2019 (More detail)
            </p>
            <button class="btn btn-primary">Learn More</button>
            <button class="btn btn-primary">Get involved</button>
          </div>
        </div>
      </section>
    </div>
    <%- include('footer') -%>
    <div id="notify_message" class="notify_message-success"></div>
  </body>

  <!-- End of your HTML body -->
  <script src="/animations/jquery-sakura.min.js"></script>
  <script src="javascripts/classie.js"></script>
  <script type="text/javascript" src="/javascripts/particles.min.js"></script>
  <script>
    particlesJS("particles-js", {
      interactivity: {
        detect_on: "canvas",
        events: {
          onhover: {
            enable: false
          },
          onclick: {
            enable: false
          },
          resize: true
        }
      },
      events: {
        onresize: {
          enable: true,
          density_auto: true,
          density_area: 400 // nb_particles = particles.nb * (canvas width *  canvas height / 1000) / density_area
        },
        onclick: {
          enable: false
        }
      },
      particles: {
        number: { value: 25, density: { enable: true, value_area: 800 } },
        color: { value: ["#f9f8eb", "#76b39d","#155263","#f0b917"] },
        shape: {
          type: "circle",
          stroke: { width: 0, color: "#fff" },
          polygon: { nb_sides: 5 }
        },
        opacity: {
          value: 0.7,
          random: false,
          anim: { enable: false, speed: 1, opacity_min: 0.1, sync: false }
        },
        line_linked: {
          enable: false
        },
        size: {
          value: 40,
          random: true,
          anim: { enable: false, speed: 40, size_min: 0.1, sync: false }
        },
        move: {
          enable: true,
          speed: 6,
          direction: "none",
          random: true,
          straight: false,
          out_mode: "out",
          bounce: true,
          attract: { enable: false, rotateX: 600, rotateY: 1200 }
        }
      },
      retina_detect: true
    });
  </script>
</html>
