
<!DOCTYPE html>
<html>
  <%- include('head') -%>
  <link rel="stylesheet" type="text/css" href="stylesheets/landing.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/fontawesome-all.min.css" />
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
	

  <link
    type="text/css"
    rel="stylesheet"
    media="screen"
    href="/animations/jquery-sakura.min.css"
  />
  <link rel="stylesheet" type="text/css" href="stylesheets/ns-default.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="stylesheets/ns-style-other.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="stylesheets/progressive-image.css"
  />
  <script src="javascripts/modernizr.custom.js"></script>
  <script src="javascripts/progressive-image.js"></script>
  <body>
    <%- include('navbar') -%>
    <div id="particles-js"></div>
    <div class="landing-main">
        
        


		<!-- Banner -->
			<section id="banner" style="background-image: url('images/station.png');background-size: cover">
				<header class="major">
					<h2>
						<span>Connecting Opensource Developers to <br>Organizations adopting Opensource tech </span>
					</h2>
				</header>
				<ul class="actions fixed special">
					<li>
						<a class="button primary icon solid brands fa-github" href="/account/github">Log in with Github</a>
					</li>
				</ul>
			</section>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<!-- Highlights -->
						<section id="two" class="highlights">
							<section>
								<a class="image" href="#">
									<img data-src="images/1.png" data-position="center right" alt="" />
								</a>
								<div class="content">
									<header class="major">
										<h2>
											<span style="color:#777777" class="icon solid fa-plug"><br></span>
											Fueling Opensource Adoption
										</h2>
										<p>Why dont more startups and companies use opensource? Lack of support , advise & documentation. We're building a network of opensource
											developers with prior experience on Opensource technologies who can help companies adopt opensource technologies more easily. 
										</p>
									</header>
									<!--<ul class="actions">
										<li><a href="#" class="button">Learn More</a></li>
									</ul>-->
								</div>
							</section>
							<section>
								<a class="image" href="#">
									<img data-src="images/2.png" data-position="top right" alt="" />
								</a>
								<div class="content">
									<header class="major">
										<h2>
											<span style="color:#777777" class="icon solid fa-ticket-alt"><br></span>
											Opensource Heroes
										</h2>
										<p>We're creating a platform for recognizing Opensource developers. Give them access to resources such as tickets & passes
											to Developer conferences, goodies and build an Award platform for recognizing Opensource Heroes.
										</p>
									</header>
								</div>
							</section>
							<section>
								<a class="image" href="#">
									<img data-src="images/3.png" data-position="center center" alt="" />
								</a>
								<div class="content">
									<header class="major">
										<h2>
											<span style="color:#777777" class="icon solid fa-handshake"><br></span>
											Opensource Founders</h2>
										<p>What motivates Opensource tech founders? When people use their softare more often and contribute to it. Through our outreach
											we're aiming at getting more startups & companies to use Opensourec tech and get more young people to contribute to Opensource.
										</p>
									</header>
								</div>
							</section>
						</section>

				

		<!-- CTA -->
			<section id="cta" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
							
						<h2>Opensource technology is the engine of hope & innovation</h2>
						<p>Behind Openfuel is a distributed team of developers, designers & thinkers<br/> who are unreasonabley hopeful about a brighter future. After all,
							 innovation depends upon being unreasonably hopeful in a world full of reasonable limitations.</p>
					</header>
					<ul class="actions special">
						<li><a href="/account/github" class="button primary">Get Started</a></li>
					</ul>
				</div>
			</section>
      <footer id="footer">
				<ul class="icons special">
					<!--<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>-->
					<li><a class="icon brands fa-facebook-f" href="https://www.facebook.com/openfuel.org/"><span class="label">Facebook</span></a></li>
					<!--<li><a class="icon brands fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
					<li><a class="icon brands fa-github" href="#"><span class="label">Github</span></a></li>
					<li><a class="icon solid fa-envelope" href="#"><span class="label">Email</span></a></li>-->
				</ul>
				<p class="copyright">
					&copy; Openfuel. All rights reserved.
				</p>
			</footer>

    
  
  
    </div>
    <%- include('footer') -%>
    <div id="notify_message" class="notify_message-success"></div>
  </body>

  
  <script src="/animations/jquery-sakura.min.js"></script>
  <script src="javascripts/classie.js"></script>
  <script type="text/javascript" src="/javascripts/particles.min.js"></script>
  <script>
    particlesJS("particles-js", {
      interactivity: {
        detect_on: "canvas",
        events: {
          onhover: {
            enable: false
          },
          onclick: {
            enable: false
          },
          resize: true
        }
      },
      events: {
        onresize: {
          enable: true,
          density_auto: true,
          density_area: 400 // nb_particles = particles.nb * (canvas width *  canvas height / 1000) / density_area
        },
        onclick: {
          enable: false
        }
      },
      particles: {
        number: { value: 25, density: { enable: true, value_area: 800 } },
        color: { value: ["#f9f8eb", "#76b39d", "#155263", "#f0b917"] },
        shape: {
          type: "circle",
          stroke: { width: 0, color: "#fff" },
          polygon: { nb_sides: 5 }
        },
        opacity: {
          value: 0.7,
          random: false,
          anim: { enable: false, speed: 1, opacity_min: 0.1, sync: false }
        },
        line_linked: {
          enable: false
        },
        size: {
          value: 40,
          random: true,
          anim: { enable: false, speed: 40, size_min: 0.1, sync: false }
        },
        move: {
          enable: true,
          speed: 6,
          direction: "none",
          random: true,
          straight: false,
          out_mode: "out",
          bounce: true,
          attract: { enable: false, rotateX: 600, rotateY: 1200 }
        }
      },
      retina_detect: true
    });
  </script>
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/browser.min.js"></script>
  <script src="javascripts/breakpoints.min.js"></script>
  <script src="javascripts/util.js"></script>
  <script src="javascripts/main.js"></script>
</html>

