<div
  class="container-fluid navbar-fixed-top box-shadow switch-gradient"
  style="background-color:#ea5455; margin-bottom:2rem; border:none;"
>
  <div class="float-left black" href="/">
    <a href="/">
      <h2 class="white">
        <img src="/images/logo/logo.png" class="logo" />
        <span class="white one-day">openfuel</span>
       
      </h2>
    </a>
  </div>
  <% if(user) { %>
  <div class="float-right margin-top-20">
    <a href="/u" class="btn btn-link hidden-xs">
      <i class="fa fa-lg fa-search pills"></i>
    </a>
    <button
      style="outline: none"
      type="button"
      class="btn btn-link"
      id="sidebarToggle"
    >
      <i class="fa fa-lg fa-align-left pills"></i>
    </button>
  </div>
  <% } %>
</div>
